/* Reset CSS */
a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: 'Epilogue', sans-serif;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

img {
  display: inline-block;
}

/* Global */
:root {
  /* Color */
  --color-dark-cyan: hsl(158, 36%, 37%);
  --color-cream: hsl(30, 38%, 92%);
  --color-very-dark-blue: hsl(212, 21%, 14%);
  --color-dark-gb: hsl(228, 12%, 48%);
  --color-white: hsl(0, 0%, 100%);

  /* Font size */
  --font-large: 30px;
  --font-medium: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-regular: 500;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  cursor: default;
}

/* Typography */
h1 {
  font-family: 'Epilogue', sans-serif;
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-very-dark-blue);
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  color: var(--color-dark-gb);
  line-height: 1.3rem;
}

/* product */
section {
  padding: 20px 20px;
  background-color: var(--color-cream);
}

.component {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 335px;
  height: auto;
  background-color: var(--color-white);
  border-radius: 15px;

}

.main-image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.product-description {
  margin-left: auto;
  margin-right: auto;
  max-width: 335px;
  padding: 20px 20px;
  text-align: left;
}

.category-name {
  letter-spacing: 0.15rem;
  color: var(--color-dark-gb);
}

.order {
  display: flex;
  flex-direction: column;
}

.sale-price {
  color: var(--color-dark-cyan);
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin-right: 20px;
}

.original-price {
  color: var(--color-dark-gb);
  text-decoration: line-through;
  font-size: var(--font-medium);
  font-weight: var(--weight-regular)
}

.price {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

button,
.cart-image {
  color: var(--color-white);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-cyan);
  border-radius: 5px;
  padding: 15px;
  border: none;
}

button:hover {
  color: var(--color-very-dark-blue);
  background-color: var(--color-white);
  border: solid 1px var(--color-dark-cyan);
  cursor: pointer;
}

.cart-image {
  margin-right: 10px;
}

/* <=1440 (Desktop) */
@media screen and (min-width:376px) and (max-width: 1440px) {}